.logo {
    width: 100px;
    border-radius: 60px;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: white;
}

.voiture {
    width: inherit;
    height: inherit;
}

.cardAdult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 250px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50px;
}*/


button {
    margin-bottom: 30%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); /* 0.5 pour 50% de transparence */
    text-align: center;
}


a {
    padding: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

body {

    background-image: url('../Photos/vintage.jpg');
    background-size: cover;
    height: 100vh;
    background-position: 5%;
}

p {

    color: white;
    font-weight: bold;
    font-size: 20px;
}

.divp{
    display: flex;
    size: 50%;
    margin-top: 300px;
    background-color: rgba(0, 0, 0, 0.3); /* 0.5 pour 50% de transparence */
}
